table {
  border-collapse: collapse;
  width: 100%;
  display: block;
}

td, th {
  padding: 10px;
}

main {
  padding: 20px;
}

.pad-bottom {
  padding-bottom: 20px;
}

select, input {
  padding: 10px;
  min-width: 250px;
  box-sizing: border-box;
}

button.submit {
  padding: 20px 40px;
  background: rgb(255, 78, 78);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
}